<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Mathubben</title>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div id="nav">
    <h2>Försäljningsdata
      Dashboard</h2>
    <p>
      Undersök Försäljningsdata för foodservice
      <span id="year-val"></span>
      </p>
    <p>
      Välj varugrupp
      <select name="artikel">
        <option value="korv">Korv</option>
        <option value="brod">Bröd</option>
      </select>
    </p>
  </div>
  <section class="container">
    <div class="chart-container">
      <svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" id="map">
      </svg>
    </div>
  </section>
  <div class="tooltip"></div>
  <!-- <script src="bower_components/d3/d3.min.js"></script> -->
  <!-- <script src="https://d3js.org/d3.v4.js"></script> -->
  <script src="/src/d3.v4.js"></script>
  
  <!-- <script src="https://unpkg.com/topojson@3"></script> -->
  <script src="/src/topojson.js"></script>
  
  <!-- <script src="pie.js"></script> -->
  <!-- <script src="bar.js"></script> -->
  <script src="js/map.js"></script>
  <script src="js/app.js"></script>

  
  <!-- <script src="https://d3js.org/d3.v4.js"></script> -->
  <!-- <script src="bower_components/topojson/topojson.js"></script> -->
  <style>
    .munic {
      fill: steelblue;
      stroke-width: 1px;
      stroke: #000;
    }
  </style>
  </head>

</html>